<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Menu de Sistema</title>
</head>

<body>
<table id="tbSis" rules="rows">
    <thead>
        <tr>
            <th></th>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Versao</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        <tr class="linhaSis">
            <td></td>
            <td>01</td>
            <td>Seguranca</td>
            <td>1.0</td>
            <td>Localhost:8083</td>
        </tr>
        <tr class="linhaMenu">
            <td colspan="5">
                Opcoes
                <table class="tbItens" rules="rows">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descricao</th>
                            <th>Rota</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Sistemas</td>
                            <td>/Sistemas</td>
                           
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Perfil</td>
                            <td>/Perfil</td>
                         
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="linhaSis">
            <td></td>
            <td>02</td>
            <td>Controle Imobiliario</td>
            <td>1.0</td>
            <td>Localhost:8080</td>
        </tr>
        <tr class="linhaItens">
            <td colspan="5">
                Opções
                <table class="tbItens" rules="rows">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descricao</th>
                            <th>Rota</th>
                     
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>Entrevista</td>
                            <td>/Entrevista</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Agenda</td>
                            <td>/Agenda</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    <tbody>
</table>
</body>

</html>
