<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" context="text/html; charset="UTF-8">

<title></title>

<meta name="description" content="">

<meta name="keywords" content="">

<link rel=stylesheet href="style_system.css" type="text/css">
</head>

<body topmargin="0" leftmargin="0" background="../Nova pasta/menu.jpg">

<table>

<tr>

<td width="140" valign="top" >



<!--inicio caixa menu-->



<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>



<TR>



<TD align=right colSpan=3><IMG height=7 src="adm_arquivos/borda_up2.gif" width=7 border=0></TD>



</TR>







<TR>



<TD><IMG height=1 src="adm_arquivos/pixel.gif" width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 alt="" src="adm_arquivos/borda_up1.gif" width=5 border=0></TD>



</TR>







<TR>



<TD><IMG height=1 src="adm_arquivos/pixel.gif" width=4 border=0></TD>



<TD bgColor=#ffffff><IMG height=1 src="adm_arquivos/pixel.gif" width=3 border=0></TD>



<TD width="100%" bgColor=#ffffff>



<!--menu-->



<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>



<!--opções de menu-->



<TR>



<TD><IMG height=13 src="adm_arquivos/bullet_green2_item.gif" width=16 border=0></TD>



<TD width="100%" bgColor=#eeeeee><A style="TEXT-DECORATION: none" href='principal.php?acao=entrar' title='Página Principal' target='principal'><FONT class=pequeno>Página inicial</FONT></A></TD>



</TR>



<!--fim opções de menu-->



<!--opções de menu-->



<TR>



<TD><IMG height=13 src="adm_arquivos/bullet_green2_item.gif" width=16 border=0></TD>



<TD width="100%" bgColor=#eeeeee><A style="TEXT-DECORATION: none" href='logout.php' title='Sair do Sistema' target='_top'><FONT class=pequeno><b><font color="#A5002A">Sair</font></b></FONT></A></TD>



</TR>



<!--fim opções de menu-->



</TABLE>



<!--fim menu-->



</TD>



</TR>







<TR>



<TD><IMG height=1 src="adm_arquivos/pixel.gif" width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 alt="" src="adm_arquivos/borda_down1.gif" width=5 border=0></TD>



</TR>







<TR>



<TD align=right colSpan=3><IMG height=7 src="adm_arquivos/borda_down2.gif" width=7 border=0></TD>



</TR>



</TABLE>



<!--fim caixa-->







<!-- -------------------------------------------USUÁRIOS--------------------------------------------------- -->





<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<TR>



<TD align=right colSpan=3><IMG height="7" src="adm_arquivos/borda_up2.gif" width="7" border="0"></TD>



</TR>







<TR>



<TD><IMG height="1" src="adm_arquivos/pixel.gif" width="1" border="0"></TD>



<TD bgColor="#ffffff" colSpan="2"><IMG height="5" src="adm_arquivos/borda_up1.gif" width="5" border="0"></TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=4 border=0></TD>



<TD bgColor=#ffffff><IMG height=1 src=adm_arquivos/pixel.gif width=3 border=0></TD>



<TD width=100% bgColor=#ffffff>



<!--menu-->



<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<!--opções de menu-->



<TR>



<TD>&nbsp;</TD>



<TD width=100%><FONT class=pequeno color=#A5002A><b>ADMINISTRAÇÃO</b></FONT></TD>
</TR>



<!--fim opções de menu-->



<!--opções de menu-->



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Informa&ccedil;&atilde;o</TD>
</TR>
<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Cohecimento</TD>
</TR>
<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=caddest.php?acao=entrar target=principal>Nog&oacute;cio</A></TD>
</TR>




<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->
</TABLE>



<!--fim menu-->



</TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 src=adm_arquivos/borda_down1.gif width=5 border=0></TD>



</TR>







<TR>



<TD align=right colSpan=3><IMG height=7 src=adm_arquivos/borda_down2.gif width=7 border=0></TD>



</TR>



</TABLE>



<!--fim caixa-->






<!-- ----------------------------------------FIM USUÁRIOS--------------------------------------------------- -->







<!-- -------------------------------------------CADASTRO---------------------------------------------------- -->






<!--inicio caixa menu-->



<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<TR>



<TD align=right colSpan=3><IMG height=7 src=adm_arquivos/borda_up2.gif width=7 border=0></TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 src=adm_arquivos/borda_up1.gif width=5 border=0></TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=4 border=0></TD>



<TD bgColor=#ffffff><IMG height=1 src=adm_arquivos/pixel.gif width=3 border=0></TD>



<TD width=100% bgColor=#ffffff>



<!--menu-->



<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<!--opções de menu-->



<TR>



<TD>&nbsp;</TD>



<TD width=100%><strong><font color="#A5002A" size="2">Plamejamento</font></strong></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=cadastro_habilitar.php?acao=entrar target=principal>Or&ccedil;amento</A></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=cadastro.php target=principal>Plan. Estrat&eacute;gico </A></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=busca_adm.php?transacao=1 target=principal>Plano de A&ccedil;&atilde;o </A></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->
</TABLE>



<!--fim menu-->



<!--menu-->



<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<!--opções de menu-->



<TR>



<TD>&nbsp;</TD>



<TD width=100%><strong><font color="#000000">Servi&ccedil;os</font></strong></TD>



</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=cidades.php target=principal>Execus&atilde;o e Controle </A></TD>



</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



</TABLE>



<!--fim menu-->



<!--menu-->
<!--fim menu-->
<!--menu-->
<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<!--opções de menu-->



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td width="100%"></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->
</TABLE>



<!--fim menu-->



</TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 src=adm_arquivos/borda_down1.gif width=5 border=0></TD>



</TR>







<TR>



<TD align=right colSpan=3><IMG height=7 src=adm_arquivos/borda_down2.gif width=7 border=0></TD>



</TR>



</TABLE>



<!--fim caixa-->






<!-- -------------------------------------------FIM CADASTRO--------------------------------------------------- -->



<!-- -------------------------------------------NOTÍCIAS---------------------------------------------------- -->



<!--inicio caixa menu-->



<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<TR>



<TD align=right colSpan=3><IMG height=7 src=adm_arquivos/borda_up2.gif width=7 border=0></TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 src=adm_arquivos/borda_up1.gif width=5 border=0></TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=4 border=0></TD>



<TD bgColor=#ffffff><IMG height=1 src=adm_arquivos/pixel.gif width=3 border=0></TD>



<TD width=100% bgColor=#ffffff>



<!--menu-->



<TABLE cellSpacing=0 cellPadding=0 width=100% border=0>



<!--opções de menu-->



<TR>



<TD>&nbsp;</TD>



<TD width=100%><strong><font color="#A5002A">Visita e Entrevista </font></strong></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Cadastro</TD>
</TR>
<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Avalia&ccedil;&atilde;o de Riscos </TD>
</TR>
<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>an&aacute;lise de Neg&oacute;cio </TD>
</TR>
<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Cobran&ccedil;a</TD>
</TR>
<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Apoio</TD>
</TR>
<TR>
  <TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>
  <TD bgColor=#eeeeee>Fluxo de Caixa </TD>
</TR>
<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=cadnot.php?acao=entrar target=principal><FONT class=pequeno>Tesouraria</FONT></A></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->



<!--opções de menu-->



<TR>



<TD><IMG height=13 src=adm_arquivos/bullet_green2_item.gif width=16 border=0></TD>



<TD width=100% bgColor=#eeeeee><A style=TEXT-DECORATION:none href=gernot.php?acao=entrar target=principal>Contabilidade</A></TD>
</TR>



<!--fim opções de menu-->



<!--pula linha-->



<tr><td></td><td></td></tr>



<!--fim pula linha-->
</TABLE>



<!--fim menu-->



</TD>



</TR>







<TR>



<TD><IMG height=1 src=adm_arquivos/pixel.gif width=1 border=0></TD>



<TD bgColor=#ffffff colSpan=2><IMG height=5 src=adm_arquivos/borda_down1.gif width=5 border=0></TD>



</TR>








<TR>



<TD align=right colSpan=3><IMG height=7 src=adm_arquivos/borda_down2.gif width=7 border=0></TD>



</TR>



</TABLE>



<!--fim caixa-->





<!-- -------------------------------------------FIM NOTÍCIAS--------------------------------------------------- -->



</td>



</tr>



</table>



</body>







</html>



